<style>
  /* Only add padding to main content areas, not the header */
  .container:not(.navbar) {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  
  .post-content, .page-content {
    padding: 30px 40px !important;
  }
  
  article:not(.navbar) {
    padding: 30px 40px !important;
  }
  
  /* Don't mess with header/navigation */
  header, nav, .navbar {
    padding: inherit !important;
  }
  
  @media (max-width: 768px) {
    .container:not(.navbar) {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
    
    .post-content, .page-content, article:not(.navbar) {
      padding: 20px !important;
    }
  }
</style>