@import "type-on-strap";

// Custom spacing
.container {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

article {
  padding: 20px !important;
}

.page-content {
  padding: 40px 20px !important;
}